html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

.hidden {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.nav {
    flex-shrink: 1;
    color: #eee;
    background-image: linear-gradient(#000 85%, #666);
    padding: .5em;
}

.map-container {
    flex: 1;
    position: relative;
}

#fullmap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.button {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #999;
    padding: .25em;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
    border-color: #ccc;
}

.modal {
    background-color: #eee;
    border-radius: 15px;
    border: 3px solid #333;
    margin: auto;
    padding: 1em;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 5em;
    width: 75%;
    max-height: 75%;
}

body.modal-visible:after {
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9998;
    opacity: 0.3;
    content: '';
}

h3 {
    margin: 0 1em 1em;
    border-bottom: 2px solid #000;
}

.search-results {
    min-height: 4em;
    margin-top: 1em;
    overflow-y: auto;
}
