<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon go map</title>
    <link rel="stylesheet" href="/static/css/main.css?{{ css_timestamp }}">
</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <span class="refresh button">refresh</span>
            <span class="settings button">settings</span>
            <span class="about button">about</span>
        </div>
        <div class="map-container"><div id="fullmap"></div></div>
    </div>
    <div class="modal-settings modal hidden">
        <h3>settings</h3>
        <input class="search" placeholder="Type ### or pokemon to search">
        <div class="search-results">No results.</div>
    </div>
    <div class="modal-about modal hidden">
        <h3>about</h3>
        <ul>
            <li>
                developed by <a href="https://github.com/asottile">asottile</a>
            </li>
            <li><a href="https://github.com/asottile/PokemonGo-Map">
                run your own instance
            </a></li>
        </ul>
    </div>
    <script>window.POGO = {{ js_globals | tojson }};</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/static/js/main.js?{{ js_timestamp }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&amp;callback=initMap"></script>
</body>
</html>
